#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-wrapper {
  height: auto;
  align-items: stretch;
}

.swiper-header {
  display: flex;
  align-items: center;
}

.swiper-header h2 {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.swiper-button {
  width: 40px;
  height: 40px;
  appearance: none;
  border: none;
  background: transparent;
}

.swiper-button:active,
.swiper-button:hover {
  opacity: 0.8;
}

.swiper-button:disabled {
  opacity: 0.2;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: auto;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-out-container {
  display: grid;
  grid-template-columns: auto 300px auto;
  overflow: hidden;
}

@media (min-width: 640px) {
  .fade-out-container {
    grid-template-columns: auto 600px auto;
  }
}

@media (min-width: 1000px) {
  .fade-out-container {
    grid-template-columns: auto 960px auto;
  }
}

.fade-out-container .left,
.fade-out-container .right {
  z-index: 1;
  pointer-events: none;
}

.fade-out-container .left {
  background-image: linear-gradient(
    -90deg,
    rgb(238 238 238 / 0) 0%,
    rgb(238 238 238 / 1) 5rem
  );
}

.fade-out-container .right {
  background-image: linear-gradient(
    90deg,
    rgb(238 238 238 / 0) 0%,
    rgb(238 238 238 / 1) 5rem
  );
}

.fade-out-container .center {
  z-index: 0;
}
